body {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
  background-color: #f2f2f2;
}

.welcome-message {
  text-align: center;
  text-transform: capitalize;
}
