body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
  background-color: #f2f2f2;
}

.welcome-message {
  text-align: center;
  color: green;
  text-transform: capitalize;
  border: thick double #323232;
}

form {
  border: solid red;
}
